<!DOCTYPE html>
<html>
	<head>
		<title>Plan zajęć</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style type="text/css ">
			th, td { vertical-align: middle !important; height: 100px; }
		</style>
	</head>
	<body>
	
		<table class='table table-striped table-bordered text-center '>
			<tr>
				<th>godzina/dzień</th>
				{% for day in schedule.getDays() %}
					<th style='width: 19%'>{{ day }}</th>
				{% endfor %}
			</tr>

			{% for slot in schedule.getHours() %}
				<tr>
					<th>{{ slot }}</th>
					{% for day in schedule.getDays() %}
						<td>
							{% if schedule.hasClass(loop.index, loop.parent.loop.index) %}
								{% set class = schedule.getClass(loop.index, loop.parent.loop.index) %}
								{% set color = lecture.getColor() %}
								
							   	{%if(class.getFormName()=="Wykład")%}
								<font color="red" >{{ class.getFormName() }}:<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}
								
								{%if(class.getFormName()=="Laboratorium")%}
								<font color="blue" >{{ class.getFormName() }}:<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}	
								
								{%if(class.getFormName()=="Ćwiczenia")%}
								<font color="green" >{{ class.getFormName() }}:<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}		
								
								{%if(class.getFormName()=="Godziny Lektorskie")%}
								<font color="black" >{{ class.getFormName() }}<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}
					
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
				
		</table>
	


<input type="button" value="Odśwież" onclick="location.reload()">		
<input type="button" value="WYKŁADY" onclick={%if(class.getFormName()=="Wykład")%}
clear
								<font color="black" >{{ class.getFormName() }}:<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}
								alert('Akapit został kliknięty!');
								>
									

<button 
{%if(class.getFormName()=="Laboratorium")%}
								<font color="black" >{{ class.getFormName() }}:<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}>
								Laboratorium
</button>

<button 
{%if(class.getFormName()=="Ćwiczenia")%}
								<font color="black" >{{ class.getFormName() }}:<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}>
								Ćwiczenia
</button>

<button 
{%if(class.getFormName()=="Godziny Lektorskie")%}
								<font color="black" >{{ class.getFormName() }}:<br>
								{{ class.getName() }}<br>
								{{ class.getMaster() }}<br>
								{{ class.getRoom() }}</font>
								{% endif %}>
								Całość
</button>						
		
	</body>
</html>